#updateButton {
    background-color: #0466c8;
    color: #ffffff;
    height: 40px;
  }
  #updateButton:hover {
    background-color: #001233;
    color: #ffffff;
    cursor: pointer;
  }
  #updateButton:disabled {
    opacity: 0.5;
  }
  
  #cancelButton {
    background-color: #ffffff;
    color: #001233;
    height: 40px;
  }
  #cancelButton:hover {
    background-color: #001233;
    color: #ffffff;
    cursor: pointer;
  }
  #cancelButton:disabled {
    opacity: 0.5;
  }
  #car-info {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    align-content: center;
    align-items: center;
    align-self: center;
  }
  
  td, th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
