* {
  box-sizing: border-box;
}

.body {
  margin-top: 0px;
  padding: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0353a4;
  color: #ffffff;
  width: 100%;
  height: 90px;
}
.rights {
  margin-left: 10px;
}
.pictures {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  display: flex;
  width: 150px;
  height: auto;
}
#android {
  max-width: 100%;
  height: auto;
}
#ios {
  max-width: 100%;
  height: auto;
}
