#car-form {
  background-color: #023e7d;
  border-radius: 10px;
  width: 90%;
  margin: 10px;
  padding: 2px;
}
#car-input {
  background-color: #002855;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

#car-input input {
  margin: 5px;
}
#car-input label {
  width: 30%;
}

#select {
  width: 90%;
  height: auto;
}
#color {
  width: 90%;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  margin-top: 10px;
}
