rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {

      //Allow authenticated users full access.

      allow read, write: if request.auth!=null;
    }
  }
}
