* {
  box-sizing: border-box;
}

#body {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dddfe4;
  color: #001233;
  width: 100%;
}
#logo {
  max-width: 100%;
  height: auto;
  margin-left: 40px;
}
.logo {
  width: 50px;
  height: auto;
}

#navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

#navbar-links li {
  list-style: none;
}

#navbar-links li a {
  text-decoration: none;
  color: #001233;
  padding: 1rem;
  display: block;
  width: auto;
}
.underline {
  text-decoration: underline solid;
  text-decoration-thickness: 3px;
}

#navbar-links li a:hover {
  background-color: #002855;
  color: #ffffff;
}

.navbar-buttons {
  margin-right: 40px;
}

.navbar-buttons button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: transparent;
  border-radius: 50rem;
  padding: 5px;
  margin: 10px;
  width: 10rem;
}

#primaryButton {
  background-color: #0466c8;
  color: #ffffff;
  height: 40px;
}
#primaryButton:hover {
  background-color: #001233;
  color: #ffffff;
  cursor: pointer;
}
#primaryButton:disabled {
  opacity: 0.5;
}

#secondaryButton {
  background-color: #ffffff;
  color: #001233;
  height: 40px;
}
#secondaryButton:hover {
  background-color: #001233;
  color: #ffffff;
  cursor: pointer;
}
#secondaryButton:disabled {
  opacity: 0.5;
}

@media only screen and (max-width: 854px) {
  .logo {
    width: 40px;
    margin-left: 0px;
  }
  #logo {
    margin-left: 10px;
  }
  .navbar-buttons {
    margin-right: 0px;
  }
  #navbar-links ul {
    font-size: smaller;
  }
}
