* {
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001233;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #001845;
  width: 100%;
  height: 100%;
  margin: 2px;
  padding: 20px;
}
.left {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px;
  margin: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 10px;
}

.right a {
  color: white;
}
@media only screen and (max-width: 700px) {
  .wrapper {
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
