<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532093429300-vn9mrj2odj6rarp4bctju6dkrr7jg9pc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532093429300-vn9mrj2odj6rarp4bctju6dkrr7jg9pc</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLYzPkNwadwFaRsN_5t10t7Zea-nn-iU</string>
	<key>GCM_SENDER_ID</key>
	<string>532093429300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karpool.ios</string>
	<key>PROJECT_ID</key>
	<string>karpool-1ea95</string>
	<key>STORAGE_BUCKET</key>
	<string>karpool-1ea95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532093429300:ios:53fb4dac6cb10375790c61</string>
</dict>
</plist>